body {
  background-color: #2f2c2c;
}

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: transparent;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #c1c1c1;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color 0.32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}

.questions-menu {
  background-color: #272424;
  width: 100%;
  max-width: 100%;
  min-width: 200px;
  box-shadow: rgba(39, 36, 36) 0px 5px 10px;
  height: 54px;
  cursor: pointer;

  &:hover {
    background-color: rgba(54, 52, 52, 0.7);
  }
}

.options-account {
  background-color: #363535;
  border-radius: 10px;
  width: 100%;
  box-shadow: rgb(29, 27, 27) 0px 5px 10px;
  height: 54px;
  cursor: pointer;

  &:hover {
    background-color: #5e5a5a;
  }
}

.view-question {
  width: 100% !important;
  max-width: 60% !important;
  width: 30%;
  min-width: 320px;
  box-shadow: rgba(39, 36, 36) 0px 5px 5px;
  height: 80%;
}

.view-answers {
  width: 100% !important;
  max-width: 60% !important;
  width: 30%;
  min-width: 200px;
  box-shadow: rgba(39, 36, 36) 0px 5px 5px;
  height: 80%;
}

.send-question {
  border-radius: 10px !important;
  width: 100% !important;
  max-width: 40% !important;
  min-width: 300px;
  box-shadow: rgba(39, 36, 36) 0px 5px 5px;
  height: 32%;
}

.questions {
  border-radius: 10px;
  width: 100%;
  box-shadow: rgba(39, 36, 36) 0px 10px 30px;

  p {
    color: white;
  }
}

.card-questions {
  color: white;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: rgba(39, 36, 36, 1) !important;
  }
}

.login-card {
  background-color: rgba(39, 36, 36, 0.7);
  box-shadow: rgba(39, 36, 36) 5px 10px 10px;
  width: 30%;
  min-width: 300px;
  height: 600px;
  border-radius: 30px;

  .q-input {
    width: 90%;
  }
}

.dialog-response {
  width: 50%;
  border-radius: 20px !important;
  height: 360px;
}

.fixed-btn {
  position: fixed;
  bottom: 20px;
  right: 380px;
}

@media (max-width: 1024px) {
  .fixed-btn {
    right: 20px;
  }
}

.img-profile {
  width: 300px;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    opacity: 0.3;
  }
}

.q-menu {
  max-height: 15rem;
}
