// Quasar SCSS Variables

$primary   : #1e2235;
$secondary : #161b2c;
$accent    : #4f86f7;

$dark      : #0d0f1a;

$positive  : #21ba45;
$negative  : #ef4444;
$info      : #31ccec;
$warning   : #f2c037;
